
-- Run these commands in your Supabase SQL Editor:
UPDATE authors SET image_url = 'https://upload.wikimedia.org/wikipedia/en/4/43/Ezra_Pound_by_Alvin_Langdon_Coburn%2C_1913.jpg' WHERE name = 'Ezra Pound';
UPDATE authors SET image_url = 'https://upload.wikimedia.org/wikipedia/commons/a/a0/John_Keats_by_William_Hilton_circa_1822_02.jpg' WHERE name = 'John Keats';
UPDATE authors SET image_url = 'https://upload.wikimedia.org/wikipedia/commons/5/57/Chaucer_manuscrit_portrait_%28d%C3%A9tail%29.jpeg' WHERE name = 'Geoffrey Chaucer';
UPDATE authors SET image_url = 'https://upload.wikimedia.org/wikipedia/commons/d/d4/S%C3%B8ren_Kierkegaard_%281813-1855%29_-_%28cropped%29.jpg' WHERE name = 'S├╕ren Kierkegaard';
UPDATE authors SET image_url = 'https://upload.wikimedia.org/wikipedia/commons/b/b4/William_Gaddis_1975.jpg' WHERE name = 'William Gaddis';
UPDATE authors SET image_url = 'https://upload.wikimedia.org/wikipedia/commons/3/3c/Byron_1813_by_Phillips.jpg' WHERE name = 'Lord Byron';
